h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}
.fw_300{
    font-weight: 300 !important;
}
.fw_400{
    font-weight: 400 !important;
}
.fw_500{
    font-weight: 500 !important;
}
.fw_600{
    font-weight: 600 !important;
}
.fw_700{
    font-weight: 700 !important;
}